In [2]:
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression, SGDRegressor, Ridge
from sklearn.metrics import mean_squared_error,r2_score
import joblib
import pandas as pd

# 1. 获取数据
data = pd.read_csv('./data/House_Training.csv')

# 2. 划分数据集
x_train, x_test, y_train, y_test = train_test_split(
    data[data.columns[0:6]], data['Y house price of unit area'], 
    test_size=0.2, random_state=0)

# 3. 数据预处理：归一化                                                                                                   
transfer = StandardScaler()
x_train = transfer.fit_transform(x_train)
x_test = transfer.transform(x_test)

# 4.选择算法
estimator = LinearRegression()

# 5. 训练模型
estimator.fit(x_train, y_train)

# 6. 模型评估
mean_squared_error(y_test, estimator.predict(x_test))

# 7. 调整模型
estimator = SGDRegressor(penalty='l1', max_iter=1000, 
                         learning_rate='constant', eta0=0.001)
estimator.fit(x_train, y_train)
mean_squared_error(y_test, estimator.predict(x_test))

estimator = SGDRegressor(penalty='l2', max_iter=1000, 
                         learning_rate='constant', eta0=0.001)
estimator.fit(x_train, y_train)
mean_squared_error(y_test, estimator.predict(x_test))

# 8. 模型保存
joblib.dump(estimator, "./dump/my_ridge.pkl")

# 9. 模型导入
estimator = joblib.load("./dump/my_ridge.pkl")
r2_score(y_test, estimator.predict(x_test))

0.5060587093803889

In [6]:
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression, SGDRegressor, Ridge
from sklearn.metrics import mean_squared_error,r2_score
import joblib
import pandas as pd

# 1. 获取数据
data = pd.read_csv('./data/House_Training.csv')
data

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1
...,...,...,...,...,...,...,...
394,2013.500,32.6,4136.27100,1,24.95544,121.49630,24.7
395,2012.917,21.2,512.54870,4,24.97400,121.53842,42.5
396,2012.667,37.1,918.63570,1,24.97198,121.55063,31.9
397,2013.417,13.1,1164.83800,4,24.99156,121.53406,32.2
398,2013.417,14.7,1717.19300,2,24.96447,121.51649,23.0

In [18]:
# 2. 划分数据集
x_train, x_test, y_train, y_test = train_test_split(
    data[data.columns[0:6]], data['Y house price of unit area'], 
    test_size=0.2, random_state=0)
x_train

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude
340,2013.333,33.6,270.88950,0,24.97281,121.53265
64,2013.333,17.5,995.75540,0,24.96305,121.54915
55,2012.833,31.7,1160.63200,0,24.94968,121.53009
106,2013.083,17.2,189.51810,8,24.97707,121.54308
300,2013.083,2.5,156.24420,4,24.96696,121.53992
...,...,...,...,...,...,...
323,2013.417,28.6,197.13380,6,24.97631,121.54436
192,2013.167,43.8,57.58945,7,24.96750,121.54069
117,2013.000,13.6,4197.34900,0,24.93885,121.50383
47,2013.583,35.9,640.73910,3,24.97563,121.53715
172,2013.583,6.6,90.45606,9,24.97433,121.54310

In [ ]:
# 3. 数据预处理：归一化                                                                                                   
transfer = StandardScaler()
x_train = transfer.fit_transform(x_train)
x_test = transfer.transform(x_test)
x_train

In [17]:
estimator = SGDRegressor(penalty='l2', max_iter=1000, 
                         learning_rate='constant', eta0=0.0001)
estimator.fit(x_train, y_train)
mean_squared_error(y_test, estimator.predict(x_test))
r2_score(y_test, estimator.predict(x_test))

0.5076341557375452